tests/data/017_1/__root.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Shakeev (GNIVC FNS RF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<!---*******************************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="Проверка имени файла на соответствие значению атрибута @ИдФайл">
					<sch:rule context="Файл">
						<!--  1. Проверка имени файла на соответствие ИдФайл  -->
						<sch:assert test="usch:getFileName() = @ИдФайл">
							<usch:error code="0400400007" path="@ИдФайл" value-of-select="@ИдФайл" doc-id-path="usch:getFileName()" doc-id-caption="Файл">Имя файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента ИдФайл "<usch:value-of select="@ИдФайл"/>"</usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---*******************************************************************************************************************************************************************************-->
			<xs:documentation>Файл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Документ" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Сведения о постановке на учет в налоговых органах</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ИдФЛ">
								<xs:annotation>
									<xs:documentation>Идентификаторы физического лица</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СведФИД">
											<xs:annotation>
												<xs:documentation>Сведения о ФИД физического лица</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="ФИД" use="required">
													<xs:annotation>
														<xs:documentation>ФИД</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:double">
															<xs:minInclusive value="0"/>
															<xs:maxInclusive value="99999999999999999999999999999999999999"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СтатФИД" use="required">
													<xs:annotation>
														<xs:documentation>Статус ФИД</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="4"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПричСтатФИД" use="optional">
													<xs:annotation>
														<xs:documentation>Причина установки статуса ФИД</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="4"/>
															<xs:enumeration value="101"/>
															<xs:enumeration value="102"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="СНИЛС" type="СНИЛСТип" use="optional">
										<xs:annotation>
											<xs:documentation>СНИЛС</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ИНН" type="ИННФЛТип" use="required">
										<xs:annotation>
											<xs:documentation>ИНН</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ИННПред" type="ИННФЛТип" use="optional">
										<xs:annotation>
											<xs:documentation>ИНН, переданный в предыдущей выгрузке</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ДатаИНН" type="ДатаТип" use="optional">
										<xs:annotation>
											<xs:documentation>Дата присвоения ИНН</xs:documentation>
											<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="СведФЛ">
								<xs:annotation>
									<xs:documentation>Сведения о физическом лице</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="ФИОТип">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Пол" use="required">
										<xs:annotation>
											<xs:documentation>Пол</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ПрДатаРожд" use="required">
										<xs:annotation>
											<xs:documentation>Признак полноты представляемой даты рождения физического лица</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ДатаРожд" type="ДатаТип" use="required">
										<xs:annotation>
											<xs:documentation>Дата рождения</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="МестоРожд" use="optional">
										<xs:annotation>
											<xs:documentation>Место рождения</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ПрДатаСмерт" use="optional">
										<xs:annotation>
											<xs:documentation>Признак полноты представляемой даты смерти физического лица</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ДатаСмерт" type="ДатаТип" use="optional">
										<xs:annotation>
											<xs:documentation>Дата смерти</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="АдрМЖ" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения об адресе места жительства (места пребывания)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="АдрРФТекст" use="optional">
										<xs:annotation>
											<xs:documentation>Адрес места жительства (места пребывания) (текст)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="1000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="КодКЛАДР" use="optional">
										<xs:annotation>
											<xs:documentation>КодКЛАДР</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="36"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="КодФИАС" use="optional">
										<xs:annotation>
											<xs:documentation>КодФИАС</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="36"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="УдЛичнФЛ">
								<xs:annotation>
									<xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="КодВидДок" type="СПДУЛТип" use="required">
										<xs:annotation>
											<xs:documentation>Код вида документа, удостоверяющего личность</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="СерНомДок" use="required">
										<xs:annotation>
											<xs:documentation>Серия и номер документа, удостоверяющего личность</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="25"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ДатаДок" type="ДатаТип" use="optional">
										<xs:annotation>
											<xs:documentation>Дата выдачи документа, удостоверяющего личность</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ВыдДок" use="optional">
										<xs:annotation>
											<xs:documentation>Наименование органа, выдавшего документ, удостоверяющий личность</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="КодВыдДок" use="optional">
										<xs:annotation>
											<xs:documentation>Код подразделения органа, выдавшего документ, удостоверяющий личность</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="7"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="СведИНННед" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Сведения о недействительных ИНН физического лица</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="ИНННед" type="ИННФЛТип" use="required">
										<xs:annotation>
											<xs:documentation>ИНН, признанный недействительным</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ДатаИНННед" type="ДатаТип" use="required">
										<xs:annotation>
											<xs:documentation>Дата признания ИНН недействительным</xs:documentation>
											<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ПричИНННед" use="required">
										<xs:annotation>
											<xs:documentation>Причина признания ИНН недействительным</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="2"/>
												<xs:enumeration value="01"/>
												<xs:enumeration value="02"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="СведРожд" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о рождении физического лица по сведениям</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СведЗапРожд" type="СведЗапТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о записи акта о рождении</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СведСвидРожд" type="СведСвидетТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения свидетельства о рождении</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="СведСмерт" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о смерти физического лица по сведениям</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СведЗапСмерт" type="СведЗапТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о записи о смерти</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СведСвидСмерт" type="СведСвидетТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения свидетельства о смерти</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ИдДок" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="4.01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ТипИнф" use="required">
				<xs:annotation>
					<xs:documentation>Тип информации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:enumeration value="ВЫГРУЗКА_ИНН_П"/>
						<xs:enumeration value="ВЫГРУЗКА_ИНН_И"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="КолДок" use="required">
				<xs:annotation>
					<xs:documentation>Количество документов</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="9"/>
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ДатаФорм" type="ДатаТип" use="required">
				<xs:annotation>
					<xs:documentation>Дата формирования файла</xs:documentation>
					<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="СведЗапТип">
		<xs:annotation>
			<xs:documentation>Сведения о записи акта</xs:documentation>
		</xs:annotation>
		<xs:attribute name="НомерЗапис" use="required">
			<xs:annotation>
				<xs:documentation>Номер записи акта</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="22"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ДатаЗапис" type="ДатаТип" use="required">
			<xs:annotation>
				<xs:documentation>Дата составления записи акта</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="КодЗАГС" use="optional">
			<xs:annotation>
				<xs:documentation>Код органа ЗАГС, составившего запись акта</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="8"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НаимЗАГС" use="optional">
			<xs:annotation>
				<xs:documentation>Наименование органа ЗАГС, составившего запись акта</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СведСвидетТип">
		<xs:annotation>
			<xs:documentation>Сведения о выданном свидетельстве</xs:documentation>
		</xs:annotation>
		<xs:attribute name="СерНомСвидет" use="required">
			<xs:annotation>
				<xs:documentation>Серия и номер свидетельства</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="25"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ДатаВыдСвидет" type="ДатаТип" use="required">
			<xs:annotation>
				<xs:documentation>Дата выдачи свидетельства</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ФИОТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" use="required">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="required">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СНИЛСТип">
		<xs:annotation>
			<xs:documentation>Страховой номер индивидуального лицевого счета</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="14"/>
			<xs:pattern value="[0-9]{3}\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}"/>
			<xs:pattern value="[0-9]{3}\-[0-9]{3}\-[0-9]{3} [0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СПДУЛТип">
		<xs:annotation>
			<xs:documentation>Коды Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>