tests/data/001_1/root.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<xs:documentation>Файл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Документ" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Сведения о документах, удостоверяющих личность физического
							лица</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СведДокФЛ" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Сведения о ФЛ и его документах, удостоверяющих
										личность</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="УдЛичнФЛ" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения о документе,
												удостоверяющем личность физического
												лица</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
												<xs:element name="СведФЛ">
												<xs:annotation>
												<xs:documentation>Сведения о физическом
												лице</xs:documentation>
												</xs:annotation>
												<xs:complexType>
												<xs:sequence>
												<xs:choice>
												<xs:element name="ДатаРожд" type="ДатаТип">
												<xs:annotation>
												<xs:documentation>Дата рождения</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="МесГодРожд" type="xs:gYearMonth">
												<xs:annotation>
												<xs:documentation>Месяц и год рождения
												</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="ГодРожд" type="xs:gYear">
												<xs:annotation>
												<xs:documentation>Год рождения</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:choice>
												<xs:element name="ФИО" type="ФИОТип">
												<xs:annotation>
												<xs:documentation>Фамилия, имя,
												отчество</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
												<xs:attribute name="Пол" use="required">
												<xs:annotation>
												<xs:documentation>Пол</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="0"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="МестоРожд" use="required">
												<xs:annotation>
												<xs:documentation>Место
												рождения</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="555"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КодСтранРожд" type="ОКСМТип">
												<xs:annotation>
												<xs:documentation>Страна страны
												рождения</xs:documentation>
												</xs:annotation>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
												<xs:attribute name="РеестрНом" use="required">
												<xs:annotation>
												<xs:documentation>Номер реестровой записи в ГИС
												МУ, фиксирующей факт внесения
												сведений</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПризнакДок" use="required">
												<xs:annotation>
												<xs:documentation>Признак актуальности документа,
												удостоверяющего личность</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
												<xs:enumeration value="4"/>
												<xs:enumeration value="5"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КодВидДок" type="СПДУЛТип" use="required">
												<xs:annotation>
												<xs:documentation>Код вида документа,
												удостоверяющего личность</xs:documentation>
												</xs:annotation>
												</xs:attribute>
												<xs:attribute name="СерНомДок" use="required">
												<xs:annotation>
												<xs:documentation>Серия и номер документа,
												удостоверяющего личность</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаДок" type="ДатаТип"
												use="required">
												<xs:annotation>
												<xs:documentation>Дата выдачи документа,
												удостоверяющего личность</xs:documentation>
												</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ВыдДок" use="optional">
												<xs:annotation>
												<xs:documentation>Наименование органа, выдавшего
												документ, удостоверяющий
												личность</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="555"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КодВыдДок" use="optional">
												<xs:annotation>
												<xs:documentation>Код подразделения органа,
												выдавшего документ, удостоверяющий
												личность</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="7"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ИдГИСМУ" use="required">
										<xs:annotation>
											<xs:documentation>Уникальный идентификатор физического
												лица в системе миграционного
												учета</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ИдЕРН" use="optional">
										<xs:annotation>
											<xs:documentation>Уникальный идентификатор физического
												лица в системе ЕРН</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ПрАннул" type="xs:boolean">
										<xs:annotation>
											<xs:documentation>Признак аннулирования
												ФЛ</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="АнСведДокФЛ" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Сведения об аннулированных при слиянии
										ФЛ</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="ИдГИСМУ" use="required">
										<xs:annotation>
											<xs:documentation>Уникальный идентификатор физического
												лица в системе миграционного
												учета</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ИдЕРН" use="required">
										<xs:annotation>
											<xs:documentation>Уникальный идентификатор физического
												лица в системе ЕРН</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ИдДок" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ТипДок" use="required">
							<xs:annotation>
								<xs:documentation>Тип документа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
									<xs:enumeration value="5"/>
									<xs:enumeration value="6"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ИнцНом">
							<xs:annotation>
								<xs:documentation>Номер инцидента</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдСвед" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор сведений</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ДатаСвед" type="ДатаТип" use="required">
				<xs:annotation>
					<xs:documentation>Дата сведений</xs:documentation>
					<xs:documentation> Дата в формате ДД.ММ.ГГГГ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Отправитель" use="required">
				<xs:annotation>
					<xs:documentation>Отправитель</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:enumeration value="МВД"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ТипИнф" use="required">
				<xs:annotation>
					<xs:documentation>Вид сведений</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:enumeration value="ВЫДУДЛИЧН"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="1.0.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ТипВыгр" use="required">
				<xs:annotation>
					<xs:documentation>Тип выгрузки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="КолДок" use="required">
				<xs:annotation>
					<xs:documentation>Количество документов</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="9"/>
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ФИОТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество физического лица (с признаком
				отсутствия)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="Фамилия">
					<xs:annotation>
						<xs:documentation>Фамилия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ПрОтсФам">
					<xs:annotation>
						<xs:documentation>Признак отсутствия фамилии</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:element name="Имя">
					<xs:annotation>
						<xs:documentation>Имя</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ПрОтсИм">
					<xs:annotation>
						<xs:documentation>Признак отсутствия имени</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:element name="Отчество">
					<xs:annotation>
						<xs:documentation>Отчество</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ПрОтсОтч">
					<xs:annotation>
						<xs:documentation>Признак отсутствия отчества</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern
				value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"
			/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СПДУЛТип">
		<xs:annotation>
			<xs:documentation>Коды Справочника видов документов, удостоверяющих личность
				налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКСМТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
