tests/data/001_2/root.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<xs:documentation>Файл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ИдОтпр">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ФИООтв">
								<xs:complexType>
									<xs:attribute name="Фамилия">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="60"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Имя">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="60"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Отчество">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="60"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ДолжОтв">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Тлф">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="16"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="E-mail">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="КодНОПост">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Документ" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвОргРег">
								<xs:complexType>
									<xs:attribute name="НаимОрг">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ИННЮЛ">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="КПП">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="9"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ОГРН">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="13"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="СвЗамВыд">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ДатаПостНО" type="ДатаТип"/>
										<xs:element name="Выд_Зам_Утрат">
											<xs:complexType>
												<xs:sequence>
												<xs:choice>
												<xs:element name="Замена">
												<xs:complexType>
												<xs:sequence>
												<xs:element name="СведФЛ">
												<xs:complexType>
												<xs:sequence>
												<xs:element name="ФИОФЛ">
												<xs:complexType>
												<xs:attribute name="Фамилия">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Имя">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Отчество">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												<xs:element name="АдресМЖ">
												<xs:complexType>
												<xs:attribute name="КодРегион">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="2"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Город">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Район">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаселПункт">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Улица">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Дом">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Корпус">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Кварт">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												<xs:element name="АдресМЖКЛАДР">
												<xs:complexType>
												<xs:attribute name="КодРегион">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="2"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Город">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Район">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаселПункт">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Улица">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Дом">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Корпус">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Кварт">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
												<xs:attribute name="ДатаРожд" type="ДатаТип"/>
												<xs:attribute name="МестоРожд">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Пол">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрАдрМЖ">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="1"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КодКладр">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="АдрМЖРФТекст">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="500"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												<xs:element name="ВыдДок">
												<xs:complexType>
												<xs:attribute name="КодВидДок" type="СПДУЛТип"/>
												<xs:attribute name="СерНомДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаУдЛичн" type="ДатаТип"/>
												<xs:attribute name="КемВыдДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КодПодрВыдДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="7"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												<xs:element name="ЗамДок">
												<xs:complexType>
												<xs:attribute name="КодВидДок" type="СПДУЛТип"/>
												<xs:attribute name="СерНомДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаУдЛичн" type="ДатаТип"/>
												<xs:attribute name="КемВыдДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КодПодрВыдДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="7"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												<xs:element name="ЗамРекв" minOccurs="0">
												<xs:complexType>
												<xs:sequence>
												<xs:element name="ФИОФЛ">
												<xs:complexType>
												<xs:attribute name="Фамилия">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Имя">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Отчество">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
												<xs:attribute name="ДатаРожд" type="ДатаТип"/>
												<xs:attribute name="МестоРожд">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Пол">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
												<xs:attribute name="ПризнДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="1"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПричЗамДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="2"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаДокФакт" type="ДатаТип"/>
												</xs:complexType>
												</xs:element>
												<xs:element name="ПервВыдача">
												<xs:complexType>
												<xs:sequence>
												<xs:element name="СведФЛ">
												<xs:complexType>
												<xs:sequence>
												<xs:element name="ФИОФЛ">
												<xs:complexType>
												<xs:attribute name="Фамилия">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Имя">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Отчество">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												<xs:element name="АдресМЖ">
												<xs:complexType>
												<xs:attribute name="КодРегион">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="2"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Город">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Район">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаселПункт">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Улица">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Дом">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Корпус">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Кварт">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												<xs:element name="АдресМЖКЛАДР">
												<xs:complexType>
												<xs:attribute name="КодРегион">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="2"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Город">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Район">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаселПункт">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Улица">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Дом">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Корпус">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Кварт">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
												<xs:attribute name="ДатаРожд" type="ДатаТип"/>
												<xs:attribute name="МестоРожд">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Пол">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрАдрМЖ">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="1"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КодКладр">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="АдрМЖРФТекст">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="500"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												<xs:element name="ВыдДок">
												<xs:complexType>
												<xs:attribute name="КодВидДок" type="СПДУЛТип"/>
												<xs:attribute name="СерНомДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаУдЛичн" type="ДатаТип"/>
												<xs:attribute name="КемВыдДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КодПодрВыдДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="7"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
													<xs:element name="УдЛичн">
												<xs:complexType>
												<xs:attribute name="КодВидДок" type="СПДУЛТип"/>
												<xs:attribute name="СерНомДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаУдЛичн" type="ДатаТип"/>
												<xs:attribute name="КемВыдДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КодПодрВыдДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="7"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												<xs:element name="ЗамРекв" minOccurs="0">
												<xs:complexType>
												<xs:sequence>
												<xs:element name="ФИОФЛ">
												<xs:complexType>
												<xs:attribute name="Фамилия">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Имя">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Отчество">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
												<xs:attribute name="ДатаРожд" type="ДатаТип"/>
												<xs:attribute name="МестоРожд">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Пол">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
												<xs:attribute name="ПризнДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:length value="1"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
													<xs:attribute name="ПричВыдДок">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="2"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаДокФакт" type="ДатаТип"/>
												</xs:complexType>
												</xs:element>
												</xs:choice>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ИдДок" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор сведений</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="4.02"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ТипИнф" use="required">
				<xs:annotation>
					<xs:documentation>Вид сведений</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:enumeration value="ВЫДУДЛИЧН_РЕГЛ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="required">
				<xs:annotation>
					<xs:documentation>Отправитель</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<!--<xs:enumeration value="1.4.10.12"/>-->
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="КолДок" use="required">
				<xs:annotation>
					<xs:documentation>Количество документов</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="9"/>
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ФИОТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество физического лица (с признаком
				отсутствия)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="Фамилия">
					<xs:annotation>
						<xs:documentation>Фамилия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ПрОтсФам">
					<xs:annotation>
						<xs:documentation>Признак отсутствия фамилии</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:element name="Имя">
					<xs:annotation>
						<xs:documentation>Имя</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ПрОтсИм">
					<xs:annotation>
						<xs:documentation>Признак отсутствия имени</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:element name="Отчество">
					<xs:annotation>
						<xs:documentation>Отчество</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ПрОтсОтч">
					<xs:annotation>
						<xs:documentation>Признак отсутствия отчества</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern
				value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"
			/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СПДУЛТип">
		<xs:annotation>
			<xs:documentation>Коды Справочника видов документов, удостоверяющих личность
				налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКСМТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
